/* .hover-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10%; 
    background-color: rgb(18, 9, 97); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
  }

  .logo-container {
    position: absolute;
    top: 10px; 
    left: 10px;
    margin-right: 20px;
  }
  
  .hover-menu.active {
    opacity: 1;
  }
  
  .hover-menu .user-details {
    text-align: center;
    color: rgb(255, 253, 253);
  }
  
  .hover-menu .user-details h3 {
    display: inline-block;
    padding: 10px 20px; 
    border: 1px solid #ccc; 
    border-radius: 20%;
  }
  
  .hover-menu .actions {
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    align-items: stretch;
  }
  
  .hover-menu .actions a {
    padding: 15px 20px;
    border: 1px solid black;
    margin-bottom: 10px; 
    border-radius: 50px;
    text-decoration: none;
    color: white;
  }
  
  button.product-btn,
  .hover-menu .actions button {
    padding: 15px 20px;
    border: 1px solid black;
    margin-bottom: 10px; 
    font-size: 16px;
  }


   */


   